* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-text: #fff;
    --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: #6A1B9A;
    background-image: radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    color: var(--primary-text);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.cards {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 100%;
    padding: 5rem;
}

.card {
    border: 5px solid black;
    border-radius: 1.5rem;
    box-shadow: var(--shadow);
    list-style: none;
}

.card--first {
    grid-row: 2 / 12;
    grid-column: 1 / 4;
    margin-left: 8.2rem;
    width: 60rem;
    height: 40rem;
}

.card--second {
    grid-row: 2 / 6;
    grid-column: 5 / 9;
    width: 80rem;
    height: 40rem;
}

.card--third {
    grid-row: 11 / 12; 
    grid-column: 2 / 5;
    width: 45rem;
    height: 35rem;
}

#js--pokemon-image {
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin: 0.5rem 8rem ;
}

.success-message {
    color: #00B74A;
}

.fail-message {
    color: #dc3545;
}

.alreadyplayed-message {
    color: white;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.4rem;
}

button {
    position: absolute;
    background: #333;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.6rem;
    margin-top: 25rem;
}

button:hover {
    background: #555;
}