* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: purple;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.cards {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40rem;
    height: 40rem;
    border: 5px solid black;
}

button {
    background: #333;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.6rem;
}

button:hover {
    background: #555;
}